# Task 9

## Data Loading

In [4]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

df = pd.read_csv("WineQT.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

## Data Exploration

In [5]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 1143
Number of Columns: 13

In [6]:
df.head(4)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3

In [7]:
df.tail(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [8]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
count,1143.000000,1143.000000,1143.000000,1143.000000,1133.000000,1133.000000,1133.000000,1133.000000,1133.000000,1133.000000,1143.000000,1143.000000,1143.000000
mean,8.311111,0.531339,0.268364,2.532152,0.086682,15.616505,45.882171,0.996732,3.311033,0.656646,10.442111,5.657043,804.969379
std,1.747595,0.179633,0.196686,1.355917,0.046859,10.264011,32.835917,0.001931,0.156657,0.168245,1.082196,0.805824,463.997116
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.000000
25%,7.100000,0.392500,0.090000,1.900000,0.070000,7.000000,21.000000,0.995570,3.210000,0.550000,9.500000,5.000000,411.000000
50%,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000,794.000000
75%,9.100000,0.640000,0.420000,2.600000,0.090000,21.000000,61.000000,0.997860,3.400000,0.720000,11.100000,6.000000,1209.500000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000,1597.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1133 non-null   float64
 5   free sulfur dioxide   1133 non-null   float64
 6   total sulfur dioxide  1133 non-null   float64
 7   density               1133 non-null   float64
 8   pH                    1133 non-null   float64
 9   sulphates             1133 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [10]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'Id'],
      dtype='object')

In [11]:
for k in df.columns:
    print(k)

fixed acidity
volatile acidity
citric acid
residual sugar
chlorides
free sulfur dioxide
total sulfur dioxide
density
pH
sulphates
alcohol
quality
Id

In [12]:
df.count()

fixed acidity           1143
volatile acidity        1143
citric acid             1143
residual sugar          1143
chlorides               1133
free sulfur dioxide     1133
total sulfur dioxide    1133
density                 1133
pH                      1133
sulphates               1133
alcohol                 1143
quality                 1143
Id                      1143
dtype: int64

In [13]:
df['chlorides'].unique()

array([0.076, 0.098, 0.092, 0.075, 0.069, 0.065, 0.073, 0.097,   nan,
       0.08 , 0.082, 0.089, 0.083, 0.103, 0.086, 0.066, 0.074, 0.088,
       0.332, 0.054, 0.114, 0.068, 0.081, 0.11 , 0.07 , 0.079, 0.115,
       0.084, 0.093, 0.104, 0.062, 0.107, 0.045, 0.102, 0.077, 0.467,
       0.09 , 0.178, 0.119, 0.118, 0.049, 0.05 , 0.117, 0.087, 0.61 ,
       0.095, 0.071, 0.072, 0.1  , 0.085, 0.058, 0.067, 0.27 , 0.111,
       0.061, 0.056, 0.039, 0.06 , 0.101, 0.057, 0.337, 0.078, 0.263,
       0.063, 0.611, 0.064, 0.096, 0.358, 0.091, 0.105, 0.094, 0.112,
       0.213, 0.214, 0.121, 0.128, 0.052, 0.12 , 0.116, 0.109, 0.099,
       0.122, 0.059, 0.047, 0.127, 0.152, 0.053, 0.055, 0.051, 0.125,
       0.2  , 0.226, 0.25 , 0.108, 0.124, 0.106, 0.222, 0.157, 0.422,
       0.034, 0.387, 0.415, 0.241, 0.19 , 0.132, 0.126, 0.038, 0.044,
       0.041, 0.165, 0.048, 0.147, 0.012, 0.194, 0.161, 0.123, 0.046,
       0.414, 0.171, 0.043, 0.042, 0.166, 0.136, 0.403, 0.137, 0.168,
       0.153, 0.169, 0.205, 0.235, 0.23 ])

In [14]:
df.nunique()

fixed acidity             91
volatile acidity         135
citric acid               77
residual sugar            80
chlorides                130
free sulfur dioxide       53
total sulfur dioxide     137
density                  388
pH                        87
sulphates                 88
alcohol                   61
quality                    6
Id                      1143
dtype: int64

In [15]:
df.isnull().sum()

fixed acidity            0
volatile acidity         0
citric acid              0
residual sugar           0
chlorides               10
free sulfur dioxide     10
total sulfur dioxide    10
density                 10
pH                      10
sulphates               10
alcohol                  0
quality                  0
Id                       0
dtype: int64

# Task 10

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1133 non-null   float64
 5   free sulfur dioxide   1133 non-null   float64
 6   total sulfur dioxide  1133 non-null   float64
 7   density               1133 non-null   float64
 8   pH                    1133 non-null   float64
 9   sulphates             1133 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [17]:
df.isnull().sum()

fixed acidity            0
volatile acidity         0
citric acid              0
residual sugar           0
chlorides               10
free sulfur dioxide     10
total sulfur dioxide    10
density                 10
pH                      10
sulphates               10
alcohol                  0
quality                  0
Id                       0
dtype: int64

### Dealing with Null Values

In [18]:
def fillNaMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density','pH','sulphates']
fillNaMean(columns)

In [19]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

### Dropping Irrelevant Columns

In [21]:
df.drop('Id', axis=1, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 107.3 KB

In [23]:
def changeFloattoInt64(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol']
changeFloattoInt64(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   int64
 1   volatile acidity      1143 non-null   int64
 2   citric acid           1143 non-null   int64
 3   residual sugar        1143 non-null   int64
 4   chlorides             1143 non-null   int64
 5   free sulfur dioxide   1143 non-null   int64
 6   total sulfur dioxide  1143 non-null   int64
 7   density               1143 non-null   int64
 8   pH                    1143 non-null   int64
 9   sulphates             1143 non-null   int64
 10  alcohol               1143 non-null   int64
 11  quality               1143 non-null   int64
dtypes: int64(12)
memory usage: 107.3 KB

In [25]:
df_clean = df.copy()

In [26]:
df_clean.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7,0,0,1,0,11,34,0,3,0,9,5
1,7,0,0,2,0,25,67,0,3,0,9,5
2,7,0,0,2,0,15,54,0,3,0,9,5
3,11,0,0,1,0,17,60,0,3,0,9,6
4,7,0,0,1,0,11,34,0,3,0,9,5

In [27]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   int64
 1   volatile acidity      1143 non-null   int64
 2   citric acid           1143 non-null   int64
 3   residual sugar        1143 non-null   int64
 4   chlorides             1143 non-null   int64
 5   free sulfur dioxide   1143 non-null   int64
 6   total sulfur dioxide  1143 non-null   int64
 7   density               1143 non-null   int64
 8   pH                    1143 non-null   int64
 9   sulphates             1143 non-null   int64
 10  alcohol               1143 non-null   int64
 11  quality               1143 non-null   int64
dtypes: int64(12)
memory usage: 107.3 KB

In [28]:
df_clean.to_csv(r'cleaned-data.csv', index=False, header=True)

In [29]:
df_clean.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7,0,0,1,0,11,34,0,3,0,9,5
1,7,0,0,2,0,25,67,0,3,0,9,5

# Task 11

## Data Splitting / Train-Test Split

In [30]:
X = df_clean.iloc()[:, 1:]
y = df_clean.iloc()[:, 0]
trainX, testX, trainY, testY = train_test_split(X, y, test_size=0.2, shuffle=False)

In [31]:
trainX.head(2)

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,0,1,0,11,34,0,3,0,9,5
1,0,0,2,0,25,67,0,3,0,9,5

In [32]:
trainY.head(2)

0    7
1    7
Name: fixed acidity, dtype: int64

In [33]:
print("TrainX:",trainX.shape)
print("TrainY:",trainY.shape)
print("TestX:",testX.shape)
print("TestY:",testY.shape)

TrainX: (914, 11)
TrainY: (914,)
TestX: (229, 11)
TestY: (229,)

## Training / Applying Classifier

In [34]:
import pickle
from sklearn.svm import SVR

In [35]:
model_SVR = SVR()
model_SVR.fit(trainX, trainY)

print(model_SVR)

SVR()

In [41]:
with open('svr_model.pkl', 'wb') as f:
    pickle.dump(model_SVR, f)

## Testing & Processing Results

In [37]:
svr_predictions = model_SVR.predict(testX)

In [38]:
print(svr_predictions)

[7.44512821 7.44512821 7.89415618 7.29206685 7.77871681 7.34349945
 7.71926776 7.73669247 7.80764899 7.7026252  7.44152408 8.24929969
 7.24633007 7.05668224 7.08605221 7.15971953 7.98208336 7.71636319
 7.10625233 7.64762659 7.33411262 7.64762659 7.82961077 7.46874428
 7.46874428 7.46874428 7.46874428 7.76464585 7.10625233 7.10625233
 7.23270207 8.2166527  7.8304633  8.04582533 7.56641797 7.4844402
 7.4844402  7.4844402  7.78413591 7.78413591 7.78413591 7.78413591
 8.02298823 8.04021389 8.06193909 7.76107509 8.14840868 7.53059726
 8.33776524 8.38834919 7.2165686  7.1316717  8.28256242 7.69455966
 8.28256242 8.0306506  7.90938072 7.29078843 7.23399999 7.38979898
 8.19920045 7.38979898 8.18627713 8.01563319 8.02747692 8.02747692
 7.28854519 7.28854519 7.05106809 7.16889214 7.97601153 8.35313835
 7.77192635 8.42974553 7.92048493 7.40716811 8.11992757 7.96540869
 7.28192846 7.99660004 7.92144679 8.3150879  8.26993184 7.91157749
 8.27476121 7.08058375 7.15323397 7.08058375 8.14279336 8.0167747
 8.27476121 7.08548265 8.22981679 7.8583706  8.22981679 7.46532197
 8.28344266 7.83306817 8.28344266 7.22638545 7.10408909 7.77589439
 8.25042279 7.17424889 7.17524062 7.48605055 7.26869219 7.89263415
 7.31814925 7.08818988 7.88293221 7.96194116 7.10081598 8.00710425
 7.26217522 7.23074612 7.78676295 7.72504267 8.03232334 7.11818596
 8.19108139 7.82113034 7.06193509 7.93575092 7.99595369 7.19354357
 7.91186698 7.83371665 7.02646554 7.20988378 7.36753833 7.20988378
 7.37162549 8.00502886 7.99778364 7.36761902 7.71664904 7.57410258
 7.05255764 7.57410258 7.05255764 8.30099644 7.94495319 7.85634429
 7.94495319 7.86780306 8.0778372  7.98509306 7.77631283 8.00647643
 7.98199081 8.07337735 8.1857766  7.63638206 7.59112411 8.03992383
 8.03992383 7.41781061 8.05849597 8.07146648 7.75392032 8.03204855
 8.07146648 7.44440417 8.0428034  7.25304306 7.27480167 7.52688039
 7.52688039 7.11210212 8.07782663 7.66890578 7.31589584 7.20048794
 7.47158072 7.55966217 7.38681139 7.03438198 7.93445608 7.76299074
 7.27185047 7.0846187  7.89300761 7.72842003 7.61995956 8.16660015
 7.76143284 7.51646475 7.4215212  7.49612579 7.47178856 7.34656077
 7.22538851 7.3676931  7.55711474 7.6463285  7.57638749 6.68756411
 7.82009565 7.82009565 7.82009565 7.67208394 7.67208394 7.13425284
 7.35144192 7.67208394 7.12424572 7.69295327 7.52241706 7.62127931
 7.22007446 7.73205401 7.74288081 7.53409247 8.00996131 7.60085087
 8.11246967 7.76972528 7.16736126 7.22431496 7.18152311 7.3702745
 7.02867389 7.50119992 7.05377433 6.96330672 6.98070297 7.03538496
 6.98070297]

## Accuracy Score

In [39]:
from sklearn.metrics import mean_squared_error, r2_score

rmse = np.sqrt(mean_squared_error(testY, svr_predictions))
r2 = r2_score(testY, svr_predictions)

print("RMSE:", round(rmse, 3))
print("RÂ² Score:", round(r2, 3))

RMSE: 1.391
RÂ² Score: -0.417